  <div class='form-box'>
    <form id="login">
      <div class="header">Interview Schedule System</div>
      <div class="body bg-gray">
        <div class="form-group">
          <a [routerLink]="[ '/candidate-details']" class="btn bg-blue btn-block">Candidate Details</a>
        </div>
        <div class="form-group">
          <a [routerLink]="[ '/interviewer-details']" class="btn bg-blue btn-block">Interviewer Details</a>
        </div>
        <div class="form-group">
          <a [routerLink]="[ '/interview-schedule']" class="btn bg-blue btn-block">Interview Schedule</a>
        </div>
      </div>
    </form>
  </div>
