<div class="container form-box1">
  <div class="row">
    <div class="dashboard">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td class="bg-blue" colspan="9">
              <center><b>Interview Schedule</b></center>
            </td>
          </tr>
          <tr>
            <th>ID Number</th>
            <th>Candidate Name</th>
            <th>Skills</th>
            <th>Interview Date</th>
            <th>Assigned Interviewer</th>
            <th>slot</th>
            <th></th>
            <th>Send invite to the interviewer</th>
          </tr>

        </thead>
        <tbody>
          <tr>
            <td><input type="number" class="number" placeholder="01"></td>
            <td><input type="text" placeholder="Name"></td>
            <td><input type="text" placeholder="AngularJS,ReactJS,JavaScript" disabled="disabled" /></td>
            <td><input type="text" name="interview_date" placeholder="19/09/2018" disabled /></td>
            <td>
              <select name="" id="">
                <option value="">Miqdad</option>
                <option value="">Archit</option>
                <option value="">Chandramouli</option>
              </select>
            </td>
            <td>
              <select name="" id="">
                <option value="">Select slot</option>
                <option value="">12:30 PM to 01:30 PM</option>
                <option value="">2:30 PM to 03:30PM</option>
                <option value="">04PM to 05PM</option>
              </select>
            </td>
            <td>
              <button type="submit" class="btn bg-blue btn-block">Save</button>
            </td>
            <td><button type="submit" class="btn bg-blue btn-block">Send </button></td>
          </tr>
          <tr>
            <td><input type="number" class="number" placeholder="02"></td>
            <td><input type="text" placeholder="Name"></td>
            <td><input type="text" placeholder="HTML,ReactJS,JavaScript" disabled="disabled" /></td>
            <td><input type="text" name="interview_date" placeholder="22/09/2018" disabled /></td>
            <td>
              <select name="" id="">
                <option value="">Manoj</option>
                <option value="">Archit</option>
                <option value="">Chandramouli</option>
              </select>
            </td>
            <td>
              <select name="" id="">
                <option value="">Select slot</option>
                <option value="">12:30 PM to 01:30 PM</option>
                <option value="">2:30 PM to 03:30PM</option>
                <option value="">04PM to 05PM</option>
              </select>
            </td>
            <td>
              <button type="submit" class="btn bg-blue btn-block">Save</button>
            </td>
            <td><button type="submit" class="btn bg-blue btn-block">Send </button></td>
          </tr>
          <tr>
            <td><input type="number" class="number" placeholder="03"></td>
            <td><input type="text" placeholder="Name"></td>
            <td><input type="text" placeholder="Java,NodeJS,JavaScript" disabled="disabled" /></td>
            <td><input type="text" name="interview_date" placeholder="25/09/2018" disabled /></td>
            <td>
              <select name="" id="">
                <option value="">Chandramouli</option>
                <option value="">Archit</option>
                <option value="">Vinod</option>
              </select>
            </td>
            <td>
              <select name="" id="">
                <option value="">Select slot</option>
                <option value="">12:30 PM to 01:30 PM</option>
                <option value="">2:30 PM to 03:30PM</option>
                <option value="">04PM to 05PM</option>
              </select>
            </td>
            <td>
              <button type="submit" class="btn bg-blue btn-block">Save</button></td>
            <td><button type="submit" class="btn bg-blue btn-block">Send </button></td>
          </tr>
        </tbody>
      </table>
      <div class="back_button">
        <a [routerLink]="[ '/dashboard']" class="btn bg-blue btn-block">Back to Dashboard</a>
      </div>
    </div>
  </div>
</div>