<div class="container form-box1">
  <div class="row">
    <div class="col-md-12">
      <div class="dashboard">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="bg-blue" colspan="6">
                <center><b>Interviewer Details</b></center>
              </td>
            </tr>
            <tr>
              <th>Emp ID</th>
              <th>Name</th>
              <th>Skills</th>
              <th>Available Date (calendar)</th>
              <th>Available slots</th>
              <th></th>
            </tr>

          </thead>
          <tbody>
            <tr>
              <td><input type="number" class="number" placeholder="01"></td>
              <td><input type="text" placeholder="Name"></td>
              <td><textarea placeholder="AngularJS,ReactJS,JavaScript"></textarea></td>
              <td><input type="date" name="available_time" placeholder="available time"></td>
              <td>
                <select name="" id="">
                  <option value="">Select slot</option>
                  <option value="">12:30 PM to 01:30 PM</option>
                  <option value="">2:30 PM to 03:30PM</option>
                  <option value="">04PM to 05PM</option>
                </select>
              </td>
              <td><button type="submit" class="btn bg-blue btn-block">Save</button></td>
            </tr>
            <tr>
              <td><input type="number" class="number" placeholder="02"></td>
              <td><input type="text" placeholder="Name"></td>
              <td><textarea placeholder="AngularJS,ReactJS,JavaScript"></textarea></td>
              <td><input type="date" name="available_time" placeholder="available time"></td>
              <td>
                <select name="" id="">
                  <option value="">Select slot</option>
                  <option value="">12:30 PM to 01:30 PM</option>
                  <option value="">2:30 PM to 03:30PM</option>
                  <option value="">04PM to 05PM</option>
                </select>
              </td>
              <td><button type="submit" class="btn bg-blue btn-block">Save</button></td>
            </tr>
            <tr>
              <td><input type="number" class="number" placeholder="03"></td>
              <td><input type="text" placeholder="Name"></td>
              <td><textarea placeholder="AngularJS,ReactJS,JavaScript"></textarea></td>
              <td><input type="date" name="available_time" placeholder="available time"></td>
              <td>
                <select name="" id="">
                  <option value="">Select slot</option>
                  <option value="">12:30 PM to 01:30 PM</option>
                  <option value="">2:30 PM to 03:30PM</option>
                  <option value="">04PM to 05PM</option>
                </select>
              </td>
              <td><button type="submit" class="btn bg-blue btn-block">Save</button></td>
            </tr>
          </tbody>
        </table>
        <div class="back_button">
          <a [routerLink]="[ '/dashboard']" class="btn bg-blue btn-block">Back to Dashboard</a>
        </div>
      </div>
    </div>

  </div>


</div>